{% extends 'admin/base.html.twig' %}
{% set page_title = t('page.admin.categories.title')|trans %}

{% block body %}

<div class="row border-bottom mt-5 mb-5 row-cols-1 row-cols-lg-2 row-cols-xl-2">
    <div class="col-12 col-lg-6 col-xl-6">
        <h1>{% trans %}page.admin.categories.title{% endtrans %}</h1>
    </div>
    <div class="col-12 col-lg-6 col-xl-6 text-end">
        <a href="{{path('app_admin_categories_create')}}" class="btn btn-success">{% trans from 'messages' %}btn.create{% endtrans %}</a>    
    </div>
</div>

{% macro nav(categories) %}
{% set locale = app.request.getLocale() %}
<ul>
    {% for category in categories %}       
        <li>
            {{ category.name(locale) }} 
            <a class="btn btn-warning" href="{{path('app_admin_categories_edit', {id: category.id})}}">
                {% trans from 'messages' %}btn.edit{% endtrans %}
            </a>
            {% if category.children is defined and category.children|length > 0 %}
                {{_self.nav(category.children)}}
            {% endif %}
        </li>
    {% endfor %}
</ul>    
{% endmacro %}

{{_self.nav(categories)}}

{% endblock %}
